@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PressReleases>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
	Layout = "Master.cshtml";
}

<section class="prs">
	<header>
		<nav>
			<div class="prsb">
				<ul class="prsul">
					<li class="prsli"><a href="/pressreleases/ingrid-bonde-laemnar-alecta/">Press Item</a></li>
					<li class="prsli"><a href="/pressreleases/magnus-tell-ny-aktiechef-paa-alecta/">Press Item 2</a></li>
					<li class="prsli"><a href="/pressreleases/afa-foersaekring-och-alecta-samverkar-kring-forskning-om-psykisk-haelsa/">Press Item 3</a></li>
					<li class="prsli"><a href="/pablo-bernengo-ny-kapitalfoervaltningschef-paa-alecta/">Press Item 4</a></li>
					<li class="prsli"><a href="/stabil-avkastning-foer-alecta-trots-turbulent-vaar/">Press Item 5</a></li>
				</ul>
			</div>
		</nav>
	</header>
</section>
