@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TextBlock)Model.Content;
}


<h1>Test</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@content.Value("title")</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">@content.Value("preamble")</p>
        <img src="@content.Image.Url()" />
    </div>
</div>